extends layout

block content
  .fpage
    .index_page
      h1 Welcome to the MovieList
      h1= title
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores asperiores minus hic vero explicabo est eos culpa facilis soluta mollitia ullam, alias iusto, aperiam at, a ea porro ducimus inventore! 
      .join_btn
        a(href='sign-up')
          button(type="button" class='round_button') Join Now